@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html,
body {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #1E212C;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.button {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700;
  padding: 0 40px;
  color: #fff;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  transition: 0.3s;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.05);
}

.heading__subtitle {
  line-height: 1.5;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.heading-text-center {
  text-align: center;
}

.burger {
  display: none;
}

/* ---------------------------------------------header__top---------------------------------------------- */
.header {
  height: 100vh;
  background: url('../img/decor/5.svg') 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2), rgba(247, 94, 5, .2));
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
  white-space: nowrap;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-btn {
  font-weight: 700;
  background-color: transparent;
  line-height: 1.6;
  color: #424551;
  transition: 0.3s;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  line-height: 1.6;
  color: #424551;
  transition: 0.3s;
}

.header__nav-link:hover {
  color: red;
}

.header__box {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header__button {
  margin-right: 36px;
}


.header__user {
  position: relative;
  padding-left: 28px;
}

.header__user::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('../img/header/Profile.svg') no-repeat;
  width: 20px;
  height: 20px;
}

.header__btn {
  color: #424551;
  transition: 0.3s;
}

.header__btn:hover {
  color: red;
}

/* -------------------------------------------------------------------------------- */
.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 40px;
}

.header__play svg {
  border-radius: 50%;
  margin-right: 16px;
  transition: 0.3s;
}

.header__play:hover svg {
  box-shadow: 0 0 0 15px rgba(255, 63, 58, 0.12);
}

.header__title {
  line-height: 1.3;
  max-width: 500px;
  letter-spacing: 1px;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 60px;
}

.buttons {
  display: flex;
}

.btn {
  padding: 18px 40px;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: linear-gradient(45deg, #FF3F3A, #F75E05), linear-gradient(45deg, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition: 0.3s;
  margin-right: 24px;
  white-space: nowrap;
}

.btn span {
  background: -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover {
  transform: scale(1.05);
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-weight: 900;
  font-size: 46px;
  margin-right: 12px;
}

.dot {
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 15px;
}

/* -------------------------------------------------------------------------------- */
.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about__createx::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 85px;
  top: -104px;
  right: -120px;
  background: url('../img/shapes-about.svg');
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.about__paragraph:last-child {
  margin-bottom: 0px;
}

.about__par-accent {
  font-weight: 400;
  line-height: 160%;
  color: #424551;
}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box {
  border-radius: 8px;
  overflow: hidden;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;
}

.about__number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
  margin-right: 16px;
}

/* -------------------------------------------------------------------------------- */
.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: -190px;
  width: 136px;
  height: 115px;
  background: url('../img/decor/1.svg') 0 0 no-repeat;
}

.directions__inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 350px;
  right: -350px;
  width: 242px;
  height: 242px;
  background: url('../img/decor/2.svg') 0 0 no-repeat;
}

.directions__heading {
  margin-bottom: 90px;
}

.directions__filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
  white-space: nowrap;
}

.directions__filter-item {
  margin-right: 45px;
  margin-bottom: 15px;
}

.directions__filter-item:last-child {
  margin-right: 0;
}

.directions__filter-btn {
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #9A9CA5;
  color: #9A9CA5;
  border-radius: 4px;
  line-height: 160%;
  padding: 1px 7px;
}

.directions__filter-btn--active {
  color: #fff;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: 1px solid transparent;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 30px 30px;
}

.directions__list-link {
  display: block;
  transition: 1s;
}

.directions__list-link:hover {
  transition: 0.5s;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.directions__list-link:hover .directions__link-btn {
  color: #FF3F3A;
}

.directions__image-box {
  border-radius: 8px;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.directions__image-box img {
  height: 100%;
  width: 100%;
}

.directions__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E8ED;
  border-top: none;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.directions__link-tag {
  color: #fff;
  background-color: black;
  line-height: 160%;
  padding: 1px 7px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.directions__link-text {
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20px;
  color: #787A80;
}

.directions__link-btn {
  line-height: 160%;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.directions__link-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url('../img/icons/arrow-right.svg') 0 5px / 100% no-repeat;
  margin-left: 11px;
}

.directions__list-item--empty {
  background: #F4F5F7;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions__list-item--empty span {
  max-width: 240px;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
}

.Marketing .directions__link-tag {
  background: #03CEA4;
}

.Management .directions__link-tag {
  background: #5A87FC;
}

.Recruting .directions__link-tag {
  background: #F89828;
}

.Design .directions__link-tag {
  background: #F52F6E;
}

.Development .directions__link-tag {
  background: #7772F1;
}

/* -------------------------------------------------------------------------------- */
.main__cert {
  margin-bottom: -46px;
}

.cert__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cert__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -200px;
  width: 60px;
  height: 60px;
  background: url('../img/decor/3.svg') no-repeat;
}

.cert__content {
  margin-right: 30px;
  max-width: 400px;
}

.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 32px;
}

.cert__logos {
  display: flex;
}

.cert__logos-item {
  margin-right: 40px;
}

.cert__logos-item:last-child {
  margin-right: 0;
}

.cert__image-box {
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

.cert__image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* -------------------------------------------------------------------------------- */
.main__team {
  padding: 162px 0 180px;
}

.team {
  background: url('../img/decor/Group\ 2.svg') 0 0 / contain no-repeat, #F4F5F7;
}

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__arrows {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
}

.team__arrow {
  display: block;
  position: relative;
  z-index: 2;
}

.team__arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
}

.team__arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team__arrow path {
  transition: 0.3s;
}

.team__arrow:hover path {
  fill: #fff;
}

.team__arrow-prev {
  margin-right: 24px;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
  transition: all 0.3s;
}

.team__slide:hover .team__socials {
  transform: translateY(0%);
  transition: 0.3s;
}


.team__image-box {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team__socials {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transform: translateY(100%);
  transition: all 1s;
}

.team__socials-item {
  margin-right: 16px;
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link path {
  transition: .5s;
}

.team__socials-link:hover path {
  fill: #fff;
  transition: all 0.3s;
}

.team__name {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
  margin-bottom: 5px;
}

.team__position {
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  color: #787A80;
}

.team__slide-dots {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  display: none;
}

.team__slide-dots .slick-dots {
  display: flex;
}

.team__slide-dots li {
  margin-right: 15px;
}

.team__slide-dots button {
  font-size: 0;
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__slide-dots button::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #B3B7BC;
  transition: all .3s;
}

.team__slide-dots .slick-active button::before {
  background-color: #424551;
}

/* -------------------------------------------------------------------------------- */
.main__testimonials {
  padding-bottom: 195px;
}

.testimonials {
  background: url("../img/decor/Group 3.svg") 330px 50px / 90% no-repeat, #F4F5F7;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 50px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slide {
  padding: 64px;
  background-color: #fff;
  border-radius: 8px;
}

.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}

.testimonials__quote {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  width: 28px;
  height: 20px;
  background: url('../img/icons/braces.svg') 0 0 / 100% no-repeat;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__user-avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonials__name {
  line-height: 160%;
  margin-bottom: 4px;
}

.testimonials__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}

.testimonials__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.testimonials__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
}

.testimonials__arrow path {
  transition: 0.3s;
}

.testimonials__arrow:hover path {
  fill: #fff;
}

.testimonials__arrow-prev {
  left: 0;
}

.testimonials__arrow-prev::before {
  transform: translate(-77%, -50%) scale(0);
}

.testimonials__arrow-prev:hover::before {
  transform: translate(-77%, -50%) scale(1);
}

.testimonials__arrow-next {
  justify-content: flex-end;
  right: 0;
}

.testimonials__arrow-next::before {
  transform: translate(-25%, -50%) scale(0);
}

.testimonials__arrow-next:hover::before {
  transform: translate(-25%, -50%) scale(1);
}

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 12px;
}

.testimonials__dots li:last-child {
  margin-right: 0;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B3B7BC;
  border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all .3s;
}

/* -------------------------------------------------------------------------------- */
.main__companies {
  padding-bottom: 127px;
}

.companies {
  background: #F4F5F7;
}

.companies__inner {
  position: relative;
}

.companies__inner::before {
  content: "";
  position: absolute;
  top: 340px;
  left: -150px;
  width: 100px;
  height: 90px;
  background: url('../img/decor/Decor.svg') 0 0 / 100% no-repeat;
}

.companies__heading {
  margin-bottom: 60px;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 50px;
}

.companies__grid-link {
  display: block;
}

.companies__grid-link img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.6;
  transition: 1.3s;
}

.companies__grid-item:hover img {
  opacity: 1;
  filter: grayscale(0);
  transition: 0.3s;
}

/* -------------------------------------------------------------------------------- */
.main__program {
  padding: 115px 0 185px;
}

.program__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program__content {
  margin-right: 30px;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc {
  max-width: 600px;
}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-link {
  display: block;
  padding-left: 40px;
}

.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc-head {
  font-size: 20px;
  line-height: 150%;
  position: relative;
}

.program__acc-head span {
  font-weight: 400;
  color: #FF3F3A;
  margin-right: 8px;
}

.program__acc-head::before,
.program__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FF3F3A;
  border-radius: 8px;
}

.program__acc-head::after {
  transform: rotate(90deg);
  transition: .3s;
}

.program__acc-text {
  display: none;
  margin-top: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #424551;
}

.program__acc-link--active .program__acc-head::after {
  transform: rotate(0deg);
}

/* -------------------------------------------------------------------------------- */

.main__blog {
  padding-bottom: 200px;
}



.blog__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.blog__list {
  display: flex;
  margin: 0 -15px;
}

.blog__item {
  padding: 0 15px;
  transition: 1.3s;
}

.blog__item:hover {
  transition: .3s;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.blog__img-box {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.blog__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__img-type {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding: 1px 8px;
  position: absolute;
  top: 12px;
  left: 12px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.blog__img-type::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 4px;
}

.blog__item-top {
  display: flex;
  margin: 0 -12px;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}

.blog__item-el {
  padding: 0 12px;
  position: relative;
}

.blog__item-el::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-46%);
  display: block;
  width: 1px;
  height: 12px;
  background-color: #787A80;
}

.blog__item-el:last-child::after {
  content: "";
  display: none;
}

.blog__top-data {
  display: flex;
  align-items: center;
}

.blog__top-data::before {
  content: "";
  width: 16px;
  height: 15px;
  background: url('../img/blog/calendar.svg') 0 0 / contain no-repeat;
  margin-right: 9px;
}

.blog__top-time {
  display: flex;
  align-items: center;
}

.blog__top-time::before {
  content: "";
  width: 16px;
  height: 15px;
  background: url('../img/blog/time.svg') 0 0 / contain no-repeat;
  margin-right: 9px;
}

.blog__item-title {
  font-size: 20px;
  line-height: 150%;
  margin: 8px 0;
}

.blog__item-text {
  font-weight: 400;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}

.blog__item-trans {
  line-height: 160%;
  display: flex;
  align-items: center;
  transition: 1s;
}

.blog__item:hover .blog__item-trans {
  color: #FF3F3A;
  transition: .3s;
}

.blog__item-trans::after {
  content: "";
  margin-left: 12px;
  display: block;
  width: 18px;
  height: 12px;
  background: url('../img/icons/arrow-right.svg');
}


.blog__item-podcast .blog__img-type::before {
  background: url('../img/blog/mike.svg') 0 0 / contain no-repeat;
  height: 17px;
}

.blog__item-video .blog__img-type::before {
  background: url('../img/blog/play.svg') 0 0 / contain no-repeat;
}

.blog__item-article .blog__img-type::before {
  background: url('../img/blog/file.svg') 0 0 / contain no-repeat;
}

.blog__item-article .blog__top-time {
  visibility: hidden;
}

.blog__item-article .blog__top-data::after {
  display: none;
}

/* -------------------------------------------------------------------------------- */
.main__contact {
  padding-bottom: 180px;
}

.contact__inner {
  display: flex;
  justify-content: space-between;
}

.contact__content {
  margin-right: 30px;
  max-width: 395px;
}

.contact__heading {
  margin-bottom: 40px;
}

.contact__list {
  margin-bottom: 48px;
}

.contact__item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.contact__item:last-child {
  margin-bottom: 0;
}

.contact__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.contact__item-mes::before {
  background: url('../img/contact/message.svg') 0 0 / contain no-repeat;
}

.contact__item-tel::before {
  background: url('../img/contact/iPhone.svg') 0 0 / contain no-repeat;
}

.contact__item-mark::before {
  background: url('../img/contact/marker.svg') 0 0 / contain no-repeat;
}

.contact__contname {
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}

.contact__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.contact__soc-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.contact__soc-list {
  display: flex;
  align-items: center;
  margin: 0 -16px;
}

.contact__soc-item {
  padding: 0 16px;
}

.contact__soc-link {
  display: block;
}

.contact__soc-link path {
  display: block;
  transition: 1s;
}

.contact__soc-link:hover path {
  fill: black;
  transition: .3s;
}

.contact__img-map {
  align-self: flex-end;
  width: 705px;
  height: 400px;
}

.contact__img-map iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 8px;
}

/* -------------------------------------------------------------------------------- */
.main_quest {
  padding-bottom: 180px;
}

.quest__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quest__img-box img {
  width: 100%;
  height: 100%;
}

.quest__content {
  margin-left: 30px;
}

.quest__heading {
  margin-bottom: 40px;
}

.quest__form-row {
  margin-bottom: 24px;
  display: flex;
}

.quest__form-label {
  margin-right: 25px;
  flex: 1 1 auto;
}

.quest__form-label:last-child {
  margin-right: 0;
}

.quest__text-label {
  display: block;
  margin-bottom: 50px;
}

.quest__form-input,
.quest__form-text {
  display: block;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}

.quest__form-input::placeholder,
.quest__form-text::placeholder {
  font-weight: 400;
  line-height: 160%;
  color: #9A9CA5;
}

.quest__form-text {
  resize: none;
  height: 128px;
}

.quest__checkbox-label {
  margin-right: 50px;
  display: flex;
  width: 100%;
  font-weight: 400;
  line-height: 160%;
  color: #424551;
}

.quest__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin-top: 5px;
  margin-right: 12px;
}

.quest__form-defult {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.quest__form-defult:checked+.quest__form-custom {
  background: url('../img/icons/tick.svg') 50% 50% no-repeat, #FF3F3A;
  border: 1px solid #FF3F3A;
}

.quest__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #1E212C;
  border-radius: 3px;
  cursor: pointer;
}

.quest__button {
  width: 100%;
  align-self: center;
  text-align: center;
}

/* -------------------------------------------------------------------------------- */
.footer {
  color: #fff;
}

.footer__top {
  padding: 80px 0 60px 0;
  background-color: #1E212C;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.footer__top-col {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.footer__top-col:first-child {
  max-width: 310px;
}

.footer__top-col:last-child {
  max-width: 315px;
}

.footer__top-col:last-child .footer__top-title::after {
  display: none;
}

.footer__logo {
  display: block;
  margin-bottom: 24px;
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 38px;
}

.footer__soc-list {
  display: flex;
}

.footer__soc-item {
  margin-right: 20px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__soc-link path {
  transition: 1s;
}

.footer__soc-link:hover path {
  fill: #fff;
  transition: .3s;
}

.footer__top-title {
  white-space: nowrap;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  pointer-events: none;
}

.footer__top-col:last-child .footer__top-title {
  white-space: normal;
  margin-bottom: 24px;
  pointer-events: none;
}

.footer__top-item {
  margin-bottom: 8px;
}

.footer__top-item:last-child {
  margin-bottom: 0;
}

.footer__top-link {
  white-space: nowrap;
  align-items: center;
  opacity: .6;
  font-weight: 400;
  line-height: 160%;
  transition: all .3s;
}

.footer__top-link svg {
  margin-right: 8px;
}

.footer__top-link:hover {
  opacity: 1;
}

.footer__items {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.footer__top-input {
  background-color: transparent;
  color: white;
  width: 100%;
  padding: 9px 0px 9px 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.footer__top-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer__btn {
  background-color: transparent;
  padding: 9px 12px;
  transition: 1s;
}

.footer__btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url('../img/footer/Right.svg') 0 0 / contain no-repeat;
  transition: 1.3s;
}

.footer__btn:hover::before {
  transition: 0.3s;
  transform: scale(1.2);
}


.footer__top-desc {
  margin-top: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.footer__down {
  background-color: #292C37;
  color: white;
}

.footer__down-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer__copy span {
  margin: 0 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../img/footer/Heart.svg');
  transform: translateY(10%);
}

.footer__go-top {
  opacity: .6;
  font-size: 14px;
  line-height: 150%;
  transition: all .3s;
}

.footer__go-top:hover {
  opacity: 1;
}

/* ------------------------------------------------------- */
@media (max-width: 1200px) {
  .header__title {
    font-size: 52px;
    max-width: 376px;
  }

  .header__img {
    max-width: 450px;
  }

  /* ------------------ */
}

@media (max-width: 1100px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s;
  }

  .overley {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }

  .overley--show {
    visibility: visible;
    opacity: 1;
  }

  .burger__follow {
    top: 15px;
    right: 15px;
    box-shadow: #8282cb 0px 0px 15px -5px;
    background-color: #fff;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
    transition: all .3s;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    transition: all .3s;
  }

  .burger--open span {
    transform: translate(0%, 50%) rotate(-45deg);
  }

  .burger--open::before {
    transform: translate(0%, 250%) rotate(45deg);
  }

  .burger--open::after {
    visibility: hidden;
    opacity: 0;
  }

  .header {
    padding-top: 92px;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .header__top-open {
    transform: translateX(0);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    padding: 100px 0;
  }

  .header__logo {
    margin: 0 0 30px 0;
  }

  .header__nav {
    margin: 0 auto;
    flex-grow: 1;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .header__nav-item {
    margin-right: 0;
  }

  .header__nav-link {
    display: block;
    padding: 10px 0;
  }

  .header__nav-item button {
    padding: 10px 0;
  }

  .header__box {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .header__button {
    margin-top: 30px;
    margin-right: 0;
  }

  /* ----------------------------------- */
  .heading__title {
    font-size: 36px;
  }

  .about__img {
    width: 400px;
  }

  /* ----------------------------------- */
  .cert__inner {
    flex-direction: column;
    align-items: center;
  }

  .cert__content {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .cert__heading {
    text-align: center;
  }

  .cert__text {
    text-align: center;
  }

  /* ================================ */
  .program__images img {
    width: 390px;
  }

  /* ================================ */
  .blog__item-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog__item-el::after {
    display: none;
  }

  /* ---------------------------------- */
  .footer__top-inner {
    flex-direction: column;
  }

  .footer__top-col {
    margin-bottom: 15px;
  }

  .footer__top-col:first-child {
    flex-basis: 100%;
    max-width: none;
  }

  .footer__top-list {
    display: none;
  }

  .footer__top-title {
    pointer-events: auto;
    cursor: pointer;
    margin: 0;
  }

  .footer__top-title {
    display: flex;
    align-items: center;
  }

  .footer__top-title::after {
    content: "";
    margin-left: 15px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid white;
    border-bottom: 6px solid transparent;
    transition: all .3s;
  }

  .footer__top-title--active::after {
    transform: rotate(90deg);
  }
}

@media (max-width: 900px) {
  .header__content {
    margin-right: 0;
  }

  .header__img {
    display: none;
  }

  .header__row {
    display: none;
  }

  /* ------------------------------------------- */
  .about__img {
    display: none;
  }

  /* ------------------------------------ */

  .directions__filter-item {
    margin-right: 10px;
  }

  .directions__list {
    column-gap: 10px;
  }

  .directions__link-content {
    padding: 20px 10px;
  }

  /* ===================================== */
  .companies__grid {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 40px 30px;
  }

  /* ------------------------------ */
  .program__images {
    display: none;
  }

  /* ---------------------- */
  .contact__inner {
    flex-direction: column;
  }

  .contact__content {
    margin-bottom: 30px;
  }

  .contact__img-map {
    align-self: auto;
    width: 100%;
    height: 250px;
  }

  /* -------------------------------- */
  .quest__img-box img {
    display: none;
  }

  .quest__content {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .blog__list {
    flex-direction: column;
  }

  .blog__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .main__about {
    padding: 100px 0 100px 0;
  }

  .about__createx {
    margin-bottom: 15px;
  }

  .about__image-box {
    display: none;
  }

  .about__numbers {
    margin-left: 0;
    white-space: nowrap;
  }

  .about__number span {
    font-size: 40px;
  }

  /* ---------------------------------- */
  .directions__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }

  /* -------------------------------- */
  .testimonials__slider-wrapper {
    padding: 0;
  }

  .testimonials__slide {
    padding: 20px 15px;
  }

  .testimonials__arrow {
    display: none;
  }
}

@media (max-width: 550px) {
  .main__about {
    padding: 50px 0;
  }

  .about__text {
    margin-bottom: 30px;
  }

  /* --------------------------------- */
  .main__directions {
    padding-bottom: 50px;
  }

  .directions__list {
    grid-template: none;
  }

  .directions__list-item--empty {
    display: none;
  }

  /* -------------------------- */
  .main__team {
    padding: 162px 0 50px;
  }

  .team__arrows {
    display: none;
  }

  .team__image-box {
    max-width: 300px;
    margin: 0 auto 16px;
  }

  .team__slide-dots {
    display: flex;
  }

  /* ------------------------- */
  .main__testimonials {
    padding-bottom: 50px;
  }

  .testimonials__heading {
    margin-bottom: 30px;
  }

  .testimonials__slider-wrapper {
    margin-bottom: 20px;
  }

  .testimonials__quote {
    font-size: 18px;
  }

  /* ------------------------------- */
  .main__companies {
    padding-bottom: 50px;
  }

  .companies__grid {
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  }

  /* --------------------------------- */
  .main__program {
    padding: 65px 0 55px;
  }

  /* --------------------------------- */
  .main__blog {
    padding-bottom: 50px;
  }

  /* ---------------------------------------- */
  .main__contact {
    padding-bottom: 80px;
  }

  /* --------------------------------- */
  .main_quest {
    padding-bottom: 70px;
  }

  .quest__form-row {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .quest__form-label {
    margin: 0 0 24px 0;
  }

  .quest__checkbox-label {
    margin: 0 0 24px 0;
  }

  /* ------------------------ */
  .footer__down-inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__top {
    padding: 50px 0;
  }

  .footer__go-top {
    margin-bottom: 15px;
  }

  .footer__copy {
    text-align: center;
  }
}

@media (max-width: 460px) {
  .header__content-buttons {
    flex-direction: column;
    text-align: center;
  }

  .btn {
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* ------------------------------ */
  .about__btn-box {
    flex-direction: column;
    text-align: center;
  }

  .heading {
    margin-bottom: 30px;
  }

  .heading__subtitle {
    font-size: 14px;
  }

  .heading__title {
    font-size: 30px;
  }

  .about__paragraph {
    font-size: inherit;
    margin-bottom: 10px;
  }

  /* ---------------------------------- */
  .cert__logos {
    flex-direction: column;
    align-items: center;
  }

  .cert__logos-item {
    margin-right: 0;
  }

  /* --------------------------- */
  .testimonials__slide-inner {
    padding-left: 30px;
  }

  .testimonials__quote::before {
    left: -35px;
  }

  /* ------------------------- */
  .blog__heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .blog__heading-inner {
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  .header {
    padding-top: 60px;
  }

  .header__top {
    left: 0;
  }

  .header__play {
    margin-bottom: 10px;
  }

  .header__title {
    font-size: 48px;
    margin-bottom: 10px;
  }

  /* -------------------------- */
  .contact__soc-item {
    padding: 0 12px;
  }
}